com.ionic.keyboard 1.0.4 "Keyboard"
com.rjfun.cordova.sms 1.0.3 "SMS"
cordova-plugin-android-support-v4 21.0.1 "Android Support v4"
cordova-plugin-console 1.0.1 "Console"
cordova-plugin-contacts 1.1.0 "Contacts"
cordova-plugin-device 1.0.1 "Device"
cordova-plugin-file 3.0.0 "File"
cordova-plugin-media 1.0.1 "Media"
cordova-plugin-splashscreen 2.1.0 "Splashscreen"
cordova-plugin-whitelist 1.0.0 "Whitelist"
cordova-plugin-x-toast 2.2.1 "Toast"
de.appplant.cordova.plugin.background-mode 0.6.4 "BackgroundMode"
de.appplant.cordova.plugin.local-notification 0.8.2-dev "LocalNotification"