<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

        <title>Schmee</title>

        <link rel="shortcut icon" type="image/png" href="favicon.png">

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">

        <!-- Library Scripts -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script type="text/javascript" src="lib/ngCordova/dist/ng-cordova.min.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>

        <!-- App Scripts -->
        <script src="js/parseEmoji.js"></script>
        <script src="js/contacts.js"></script>
        <script src="js/app.js"></script>

        <style type="text/css">
            body { width:100%; height:100%; margin:0; padding:0; overflow:hidden; background-color:#eee; }
            div#fullpage { width:100%; height:100%; margin:0; padding:0; border:0px solid red; text-align:center; vertical-align:middle; }
            div#data { width:100%; }
            button { font-size: 18px; }
        </style>
    </head>
    <body ng-app="schmee" onload="onLoad()">
        
        
            
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>


    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-color-active-positive">

        <ion-tab title="Schmee" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contacts" icon="ion-ios-world" ui-sref="tabs.contacts">
          <ion-nav-view name="contacts-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Schmee">
        <ion-content class="padding">
            <div id="fullpage">
                <button id='watchBtn' onclick="toggleWatch();">Start Watching SMS</button>
                <button onclick="updateStatus('');updateData('');smsList.length=0;">Clear Messages</button>
                <div id='status'></div><hr/>
                <div id='data' style='text-align:left;'></div>
            </div>

            <div id="test"></div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/contacts.html" type="text/ng-template">
      <ion-view title="Contacts" id='contactsView'>
        <ion-content>
            <ion-list>
                <ion-item ng-repeat="contact in contacts">
                    <h2>{{contact.displayName}}</h2>

                    <ion-checkbox ng-model="contact.alerts"
                                  ng-checked="contact.alerts"
                                  ng-clicked="toggleAlert(displayName)">
                      Accept !alert 👂
                    </ion-checkbox>

                    <ion-checkbox ng-model="contact.silence"
                                  ng-checked="contact.silence"
                                  ng-clicked="toggleSilence(contact.displayName)">
                      Accept !silent 😶
                    </ion-checkbox>

                    <ion-checkbox ng-model="contact.emergency"
                                  ng-checked="contact.emergency"
                                  ng-clicked="toggleEmergency(contact.displayName)">
                      Accept !emergency and ❗
                    </ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-content>
      </ion-view>
    </script>
       

       <script type='text/javascript'>
            var debug = true;

            function onLoad() {
                if(( /(ipad|iphone|ipod|android)/i.test(navigator.userAgent) )) {
                    document.addEventListener('deviceready', initApp, false);
                } else {
                    updateStatus('Must be run on a mobile device for full functionality.');
                    
                    // Test Components
                    if (debug) {
                        // parseEmoji.js required
                        parseEmojiTest();
                        // contacts.js required
                        contactsTest();
                    }
                }

                loadContacts();
            }

            function onContactsLoadSuccess(contacts) {
                // js = callback hell
                window.contacts = defaultContacts(contacts);
                // $('#test').html(JSON.stringify(window.contacts));
            }

            function onContactsLoadError(contactError) {
                // js = callback hell
                alert("Error loading contacts", contactError);
            }


            function loadContacts() {
                if(( /(ipad|iphone|ipod|android)/i.test(navigator.userAgent) )) {
                    var options = new ContactFindOptions();
                    options.filter = "";          // empty search string returns all contacts
                    options.multiple = true;      // return multiple results
                    filter = ["displayName", "name", "nickname", "phoneNumbers"];   // return contact.displayName 
                    navigator.contacts.find(filter, onContactsLoadSuccess, onContactsLoadError, options);
                } else {
                    window.contacts = defaultContacts(testContacts);
                    // $('#test').html(JSON.stringify(window.contacts));
                }
            }

            scheduleEmergency = function(txt, type, from) {
                cordova.plugins.notification.local.add({
                    id: 1,
                    text: txt,
                    title: type + " from " + from,
                    icon: 'file://favicon.png',
                    sound: 'file://emergency.mp3'
                });

                showToast(txt);
            }

            scheduleAlert = function(txt, type, from) {
                cordova.plugins.notification.local.add({
                    id: 1,
                    text: txt,
                    title: type + " from " + from,
                    icon: 'file://favicon.png'
                });

                showToast(txt);
            };

            scheduleSilent = function(txt, type, from) {
                cordova.plugins.notification.local.add({
                    id: 1,
                    text: txt,
                    title: type + " from " + from,
                    icon: 'file://favicon.png',
                    sound: null
                });
            };

            var default_notify = true;


            function toggleDefaultNotify(){
                default_notify = ! default_notify;
            }

            // we will store the intercepted SMS here for later restore
            var smsList = [];
            var interceptEnabled = false;
            var watching = false;

            function schmeeNotifications(data) {
                var divdata = $('div#data');
                divdata.html( divdata.html() + JSON.stringify( data ) );

                var fromNumber = data.address;
                var msg = data.body;

                if (isKnownContact(window.contacts, fromNumber)) {
                    var fromName = getDisplayName(window.contacts, fromNumber);

                    // Known Contacts
                    if (shouldEmergency(msg)) {
                        // Emergency Override
                        if (acceptEmergency(window.contacts, fromNumber)) {
                            // alert("Known Contact with emergency permission, emergency found.");
                            scheduleAlert(msg, "Emergency", fromName);
                        } else {
                            // alert("Known Contact without emergency permission, emergency found.");
                        }
                    } else {
                        if (shouldAlert(msg)) {
                            // Alert Override
                            if (acceptAlerts(window.contacts, fromNumber)) {
                                // alert("Known Contact with alert permission, alert found.");
                                scheduleAlert(msg, "Alert", fromName);
                            } else {
                                // alert("Known Contact without alert permission, alert found.");
                            }
                        } else {
                            // Silence
                            if (shouldSilence(msg)) {
                                if (acceptSilence(window.contacts, fromNumber)) {
                                    // alert("Known Contact with silence permission, silence found.");
                                    scheduleSilent(msg, "Silence", fromName);
                                } else {
                                    // alert("Known Contact without silence permission, silence found.");
                                }
                            }
                        }
                    }

                    
                } else {
                    // Unknown Contacts
                    if (shouldAlert(msg)) {
                        if (default_notify) {
                            // alert("Unknown Contact, default accept emojis, alert found.");
                            scheduleAlert(msg, "Alert", fromNumber);
                        } else {
                            // alert("Unknown Contact, default reject emojis, alert found.");
                            scheduleSilent(msg, "Silence", fromNumber);
                        }
                    }

                    if (shouldSilence(msg)) {
                        if (default_notify) {
                            alert("Unknown Contact, default accept emojis, silence found.");
                        } else {
                            alert("Unknown Contact, default reject emojis, silence found.");
                        }
                    }
                    
                }
            }

            function initApp() {
                if (! SMS ) { alert( 'SMS plugin not ready' ); return; }
                
                // SMS Arrived
                document.addEventListener('onSMSArrive', function(e){
                    var data = e.data;
                    
                    smsList.push( data );
                    
                    updateStatus('SMS arrived, count: ' + smsList.length );
                    
                    schmeeNotifications(data);
                });

                if (SMS) {
                    toggleWatch();
                    // toggleIntercept();
                }

                // Set location on notification click
                document.addEventListener('deviceready', function(){
                    cordova.plugins.notification.local.onclick = function (notification) {
                        location.href="index.html";
                    };
                }, false);

                // Background Mode
                document.addEventListener('deviceready', function () {
                    cordova.plugins.backgroundMode.setDefaults({ text:'Watching incoming SMS.'});

                    cordova.plugins.backgroundMode.enable();

                    cordova.plugins.backgroundMode.onactivate = function () {
                        setTimeout(function () {
                            cordova.plugins.backgroundMode.configure({
                                text:'Watching for incoming SMS....'
                            });
                        }, 5000);
                    }
                }, false);
            }
            
            function update( id, str ) {
                $('div#' + id).html( str );
            }
            function updateStatus( str ) {
                $('div#status').html( str );
            }
            function updateData( str ) {
                $('div#data').html( str );
            }
            
            function sendSMS() {
                var sendto = $('input#sendto').val().trim();
                var textmsg = $('textarea#textmsg').val();
                if(sendto.indexOf(";") >=0) {
                    sendto = sendto.split(";");
                    for(i in sendto) {
                        sendto[i] = sendto[i].trim();
                    }
                }
                if(SMS) SMS.sendSMS(sendto, textmsg, function(){}, function(str){alert(str);});
            }

            function listSMS() {
                updateData('');
                
                if(SMS) SMS.listSMS({}, function(data){
                    updateStatus('sms listed as json array');
                    
                    var html = "";
                    if(Array.isArray(data)) {
                        for(var i in data) {
                            var sms = data[i];
                            html += sms.address + ": " + sms.body + "<br/>";
                        }
                    }
                    updateData( html );
                    
                }, function(err){
                    updateStatus('error list sms: ' + err);
                });
            }

            function deleteLastSMS() {
                updateData('');

                if(smsList.length == 0) {
                    updateStatus( 'no sms id to delete' );
                    return;
                }
                
                var sms = smsList.pop();
                
                if(SMS) SMS.deleteSMS({
                    _id : sms["_id"]
                }, function( n ){
                    updateStatus( n + ' sms messages deleted' );
                }, function(err){
                    updateStatus('error delete sms: ' + err);
                });
            }

            function restoreAllSMS() {
                updateData('');
                
                if(SMS) SMS.restoreSMS(smsList, function( n ){
                    smsList.length = 0;
                    updateStatus(n + ' sms messages restored');
                    
                }, function(err){
                    updateStatus('error restore sms: ' + err);
                });
            }

            function startWatch() {
                if(SMS) SMS.startWatch(function(){
                    $('#watchBtn').html('Stop Watching SMS');
                }, function(){
                    updateStatus('failed to start watching');
                });
            }

            function stopWatch() {
                if(SMS) SMS.stopWatch(function(){
                    $('#watchBtn').html('Start Watching SMS');
                }, function(){
                    updateStatus('failed to stop watching');
                });
            }

            function toggleWatch() {
                watching = ! watching;

                if (watching) {
                    startWatch();
                } else {
                    stopWatch();
                }
            }
            
            function toggleIntercept() {
                interceptEnabled = ! interceptEnabled;
                
                if(interceptEnabled) {
                    smsList.length = 0;
                }
                
                if(SMS) SMS.enableIntercept(interceptEnabled, function(){}, function(){});
            }
        </script>
    </body>
</html>
